---
title: Tags
permalink: /tags/
---
{% assign tags = site.tags | sort %}
<ul class="tag-cloud">
    {% for tag in tags %}
    <a href="#{{ tag | first | slugize }}"
       style="font-size: {{ tag | last | size | times: 600 | divided_by: site.tags.size | plus: 70  }}%">
      {{ tag | first }}
    </a> &nbsp;&nbsp;
    {% endfor %}
</ul>

<div id="archives">
    {% for tag in tags %}
    <div class="archive-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}
        <h3 id="#{{ tag_name | slugize }}">{{ tag_name }}</h3>
        <a name="{{ tag_name | slugize }}"></a>
        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <h4><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h4>
        </article>
        {% endfor %}
    </div>
    {% endfor %}
</div>