---
layout: home
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<div>
    <h1 style="margin-bottom: 5px;"><a href="{{ post.url }}">{{ post.title }}</a></h1>
    {% include post_meta.html post=page %}
    <span>
    {{ post.excerpt }}
    <p><h4><a href="{{ post.url }}">More &raquo;</a></h4></p>
    </span>
    <hr style="display: block; height: 1px; border: 0;
               border-top: 1px dashed #d0d0d0; margin: 1em 0; padding: 0;">
</div>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% else %}
    <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
    <span class="next ">Next</span>
    {% endif %}
</div>