---
layout: page
title: Portfolio
permalink: /portfolio/
---

<h4>Awards / Grants</h4>
<table>
    {% for portfolio in site.portfolio %}
    <!-- @TODO Filtering inefficiently -->
        {% if portfolio.categories contains "award" or portfolio.categories contains "grant" %}
        <tr>
            <td>{{ portfolio.time }}</td>
            <td>
                {% assign content = portfolio.content | strip_newlines %}
                {% if content == ""  %}
                    {{ portfolio.title }}
                {% else %}
                    <a href="{{ portfolio.url }}">{{ portfolio.title }}</a>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}
</table>